# Server configuration
PORT=4000

# Database configuration
DB_URL=postgres://<username>:<password>@<host>:<port>/<database_name>
DB_DIALECT=postgres
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=yourpassword
DB_DATABASE=yourdatabase

# NodeMailer configuration
NODEMAILER_FROM_NAME=<your_email>@ethereal.email
NODEMAILER_HOST=smtp.ethereal.email
NODEMAILER_PORT=587
NODEMAILER_SERVICE=gmail
NODEMAILER_AUTH_USER=<your_email>@ethereal.email
NODEMAILER_AUTH_PASS=<your_password>

# JWT configuration
JWT_SECRET=<your_jwt_secret>
JWT_ACCESSTOKENTIME=1d
JWT_REFRESHACCESSTOKENTIME=1y

# URL configuration
URLS_ADMIN_PORTAL_URL=http://localhost/admin
ADMIN_PORTAL_RESET_PASSWORD_URL

# OTP Configuration
OTP_EXPIRES_IN_MINUTES=10
FORGOT_PASSWORD_EXPIRES_IN_MINUTES=3
# Timezone and format
DEFAULT_TIMEZONE=Asia/kolkata
DATE_FORMAT=%d.%m.%Y %H:%M
DEFAULT_LANGUAGE=en
ORIGIN=http://localhost3000

# Crypto secret
CRYPTO_SECRET=<your_crypto_secret>


COOKIE_SECRET=

# redis
REDIS_HOST=localhost
REDIS_PORT=6379
